@use "@scss/varibles" as *;
@use "@scss/media" as *;

.promo {
  background-color: $bg;
  color: $white;


  &__container {
    padding-top: 200px;
    padding-bottom: 75px;
    background-image: url("../image/promo-bg.png");
    background-repeat: no-repeat;
    background-position: right 113px bottom 0;
  }

  &__title {
    font-weight: 400;
    font-size: 88px;
    line-height: 1.1;
    color: $white;
    max-width: 800px;
    margin-top: 0;
    margin-bottom: 60px;
  }

  &__link {
    display: inline-block;
    border: 1px solid $white;
    border-radius: 4px;
    padding: 16px 24px;

  }
}